<!DOCTYPE html>
<html>
<head>
  <title>Snake</title>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  <script src="/src/snake.js"></script>
  <script src="/src/food.js"></script>
  <script src="/src/collision.js"></script>
  <script src="/src/main.js"></script>
</head>
<body>
  <div >
    <h1 id="title"> SNAKE! ON A SCREEN... </h1>
  </div>
  <div id= "game">
    <canvas height="500" width="800" id="screen">
      Your browser is too old to support canvas.
    </canvas>
  </div>
  <form action="/" method="post">
    <input type="text" name="name">
    <input type="text" name="score">
    <input type="submit" name="Submit">
  </form>

  <style>
  #screen {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: #93ce2d;
  }
  </style>

</body>
</html>
