<!DOCTYPE html>
<html>
<head>
  <title>Snake</title>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  <script src="snake.js"></script>
  <script src="food.js"></script>
  <script src="collision.js"></script>
  <script src="main.js"></script>
</head>
<body>
  <div >
    <h1 id="title"> SNAKE! ON A SCREEN... </h1>
  </div>


  <div id= "game">
  <canvas height="500" width="800" id="screen">
    Your browser is too old to support canvas.
  </canvas>
</div>

</body>
</html>
